@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact-us{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/twitter-icon-ffa6a.appspot.com/o/contact-us.webp?alt=media&token=0293dcfd-902a-4ae9-bfcc-59c4205d6f7e');
    object-fit: cover;
    background-repeat: no-repeat;
}

.card {
    position: absolute;
    width: 720px;
    height: 320px;
    display: flex;
    align-items: center;
    font-family: 'barlow condensed', sans-serif;
    justify-content: space-between;
    color: rgb(36, 35, 35);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.profile-picture {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.line {
    background-color: rgb(150, 149, 149) ;
    height: 90%;
    border-radius: 10px;
    
}

.media {
    color: rgb(36, 35, 35);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.i {
    width: 18px;
    margin-right: 15px;
}

.owners-detail {
    display: flex;
    height: 75%;
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid rgb(150, 149, 149) 3px;
    padding: 0 0 10px 60px ;
}

.owner {
    line-height: 1.2;
}

.owners-contact {
    line-height: 1.6;
    font-size: 20px;
}

a {
    color: rgb(36, 35, 35);
}

.large {
    font-size: 35px;
    letter-spacing: 1.5px;
}

.small {
    font-size: 25px;
}

.i-media {
    font-size: 12px;
    padding-right: 10px ;
}

@media (max-width: 600px) {
    .owners-detail {
        width: 65%;
        height: 80%;
        border-left: solid rgb(150, 149, 149) 3px;
        padding: 0 0 10px 30px ;
    }

    .card {
        width: 380px;
        height: 250px;
        padding: 0;
        backdrop-filter: blur(8px);
    }

    .profile-picture {
        width: 100px;
        height: 100px;
        margin-left: 15px;
    }

    .large {
        font-size: 26px
    }
    
    .small {
        font-size: 20px;
    }
    
    .i-media {
        font-size: 10px;
        padding-right: 5px;
    }

    .owners-contact {
        line-height: 1.6;
        font-size: 18px;
        margin-top: 12px;
    }
    
    .media {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .i {
        width: 16px;
        margin: 8px 10px 0 0;
    }
}